
.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar li{
    cursor: pointer;
}
.navbar-menu{
    color: #000000;
    display: flex;
    gap:20px;
    list-style: none;
    font-size: 16px;

}
.navbar-menu a{
    color: black;
}

.navbar-right{
    display: flex;
    gap: 30px;
    align-items: center;
}
.navbar button{
    background: transparent;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    border-radius:50px;
    cursor:pointer;
    transition:0.3s;
}
.navbar button:hover{
    border: 2px solid #ff4d00;
    background-color: #ff4d00;
    color: #ffffff;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #000000;
}
.navbar-cart-icon{
    position: relative;
}
.navbar-cart-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #ff4d00;
    border-radius: 50%;
    top: -9px;
    right: -6px;
}


@media(max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar button{
        padding: 8px 25px;
    }
}

@media(max-width:900px){
    .navbar .logo{
        width: 115px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 13px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar button{
        padding: 7px 20px;
    }
}
@media(max-width:780px){
    .navbar .logo{
        width: 110px;
    }
    .navbar-menu{
        display: none;
    }
}

.navbar-profile{
    position: relative;
}
.navbar-profile-dropdown{
    position: absolute;
    display: none;
    z-index: 1;
    right: 0;
    top: 45px;
}
.navbar-profile:hover .navbar-profile-dropdown{
    margin-top: -7px;
    display: flex;
    flex-direction: column;
    background-color: #fbf4f3;
    gap: 10px;
    padding: 12px 25px;
    list-style: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    outline: 2px solid #fff2ef;
}
.navbar-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.navbar-profile-dropdown img{
    width: 25px;
}
.navbar-profile-dropdown li:hover{
    color: tomato;
}
